# Python
*.pyc
__pycache__/
*.pyo
*.pyd
.Python
env/
venv/
ENV/
*.env
*.venv
.python-version

# Django
*.log
*.pot
*.py[cod]
*.sqlite3
db.sqlite3
media/
staticfiles/
static/
local_settings.py

# VS Code
.vscode/
.history/

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
pnpm-lock.yaml
yarn.lock

# Vite / build output
dist/
build/
.cache/

# OS files
.DS_Store
Thumbs.db

# Temporary files
*.swp
*~
*.tmp
tmp_access_token.txt
